.about {
  margin: 150px auto 0px;
  padding: 60px 0px 125px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__img {
  margin: -50px 0px 0px 0px;
  width: 520px;
  height: 520px;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
}
.about__info {
  max-width: 600px;
}
.about__title {
  margin: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 50px;
  color: var(--title-color);
}
.about__subtitle {
  margin: 20px 0px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--subtitle-color);
}
.about__subtitle_weight_bold {
  font-weight: bold;
}