.partner {
  width: 100%;
  background-color: var(--background-secondary-color);
  position: relative;
  padding: 50px 0px 0px 0px;
}
.partner__list {
  margin: 75px 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner__img {
  object-fit: contain;
  object-position: center;
  width: 190px;
  pointer-events: none;
  user-select: none;
}

@media all and (max-width: 1000px) {
  .partner {
    padding: 20px 0px 0px 0px;
  }
  .partner__img {
    width: 140px;
  }
}

@media all and (max-width: 760px) {
  .partner__list {
    margin: 20px 0px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .partner__img {
    width: 200px;
    margin-bottom: 30px;
  }
}